<h1>Estadisticas</h1>

<h3><a asp-action="ListarActividadesSegunLugar">Listar Actividades Segun Lugar</a></h3>
<br />
<hr />

<h3><a asp-action="VerActividadesEntreFechasYCategoria">Listar Actividades segun Fechas y Categoria</a></h3>
<br />
<hr />
