<h4>Estadísticas</h4>
<hr />
<br />
<h6><a asp-action="ListarActividadesSegunLugar">Listar Actividades segun lugar</a></h6>
<br />
<hr />
<br />
<h6><a asp-action="VerActividadesEntreFechasYCategoria">Listar Actividades segun fechas y categoria</a></h6>
<br />
<hr />
<br />
<h6><a asp-action="ComprasMayorValor">Listar Compras de mayor valor</a></h6>
<br />
<hr />