<h1>Otras Funciones</h1>

<h3><a asp-action="CambiarPrecioBaseActividades">Cambiar precio base de Actividades</a></h3>
<br />
<hr />
<h3><a asp-action="CambiarAforoMaximo">Cambiar Aforo Máximo de Lugares Cerrados</a></h3>
<br />
<hr />
<h3><a asp-action="CambiarPrecioButacas">Cambiar Precio de las Butacas en Actividades al aire libre</a></h3>
<br />
<hr />