<h4>Otras Funciones</h4>
<hr />
<br />
<h6><a asp-action="CambiarPrecioBaseActividades">Cambiar precio base de Actividades</a></h6>
<br />
<hr />
<br />
<h6><a asp-action="CambiarAforoMaximo">Cambiar Aforo Máximo de Lugares Cerrados</a></h6>
<br />
<hr />
<br />
<h6><a asp-action="CambiarPrecioButacas">Cambiar Precio de las Butacas en Actividades al aire libre</a></h6>
<br />
<hr />