<h1>Registro</h1>
<form method="post">
    <label>Email</label>
    <input type="text" name="email"/><br />
    <label>Password</label>
    <input type="text" name="password" /><br />
    <input type="submit" value="Registrarse" />
</form>
<p>@ViewBag.msg</p>