<h1>Convertirse en Cliente</h1>
<form method="post">
    <label>Nombre</label><br />
    <input type="text" name="nombre" /><br />
    <label>Apellido</label><br />
    <input type="text" name="apellido" /><br />

    <label>Fecha de Nacimiento</label><br />
    <input type="datetime-local" name="fechaNacimiento" /><br />
    <label>Email</label><br />
    <input type="text" name="email" /><br />
    <label>Nombre de usuario</label><br />
    <input type="text" name="nombreUsuario"/>
    <label>Password</label>
    <input type="text" name="password" /><br />
    <input type="submit" value="Ser Cliente" />


</form>
<p>@ViewBag.msg</p>