@using Microsoft.AspNetCore.Http;

<div class="text-center">
    <h3>¡Bienvenido a nuestro sitio de eventos y compra de entradas para actividades!</h3>


    @if (@Context.Session.GetString("NombreLogueado") != null)
    {
        <br />
        <h4>Hola de nuevo @Context.Session.GetString("NombreLogueado")!</h4>
    }

</div>
